<html>
    <head>
        <title>FP Client</title>
    </head>
    <body>
        <h1>Hello, {{ user.username }}!</h1>

        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        
        
        
        
        <form action="{{ url_for('Calc') }}" method="post">
            <dl>
              <dt>Form:
              <dd><input type="text" name="forml" size=100>
              <dd><input type="submit" value="Calculate">
            </dl>
            <p>{{ form.check() }} {{ form.check.label }}</p>
        </form>

        <br>Previous data<br>
        <form method="post">
            <dl>            
                <div class="input text" style="width: 500px; ">
                {{ form.forml  }}
                </div>
                <!-- <input type="text" class="form-control" id="forml" name="forml " size="100px" > -->
            </dl>
        </form>




    </body>
</html>